

# ======================
# Frontend ignores
# ======================
node_modules/
.next
out
.DS_Store
npm-debug.log
yarn-error.log

# ======================
# Root-level ignores
# ======================
.DS_Store
.env
npm-debug.log
yarn-error.log
