.container{
    padding: 1.2rem;
}

.navBar{
display: flex;
align-items: center;
justify-content: space-between;
 
}

.navBarOPtionContainer{
    display: flex;

}

.buttonJoin{
    background-color: #cd8987;
    border-radius: 10px;
    padding-block: 0.6rem;
    padding-inline: 1.2rem;
    color: white;
    font-size:0.7rem;
    font-weight: bold;
}
.proConnect{
cursor: pointer;



}

@media  only screen and (max-width:600px) {

.proConnect{
cursor: pointer;
font-size: 1.3rem;
   
}


}